body 
{
	font-family : Verdana;
	background-color: #191919;
}

@font-face
{
	font-family: Segoeuil;
	src:url('segoeuil.ttf') format('truetype');
}

.col-auto 
{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.container
{
	max-width: 1190px;
}

.row
{
	padding: 0px 0px 0px 0px;
}

.photo
{
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 310px;
	width: 385px;
	background-color: #FECA07;
	text-align: center;
	border-left: 2px groove grey;
}

.titre
{
	background-color: white;
	padding-bottom: 25px;
	text-align: center;
}

.profession
{
	
	position: relative;
	color: #404040;
	font-family: Arial, serif;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
}

.bordure
{
	margin-left: 8%;
	width: 40px;
	border-width: 2px;
	border-color: #FECA07;
}

.separation
{
	background-color: white;
	vertical-align: baseline;
	line-height: 4px;
}

.aside1 /*intitulés aside*/
{
	text-align: center;
	color: #FECA07;
	border-left: 2px solid rgba(250,250,250,0.3);
	background-color: #404040;
	padding-top: 10px;
}

.aside2 /*bloc aside jaune*/
{
	background-color: #FECA07;
	font-size: 15px;
	border-left: 2px solid rgba(250,250,250,0.3);
	padding-top: 25px;
	padding-bottom: 140px;
	text-align: left;
}

.cal
{
	vertical-align: 7px;
}

.col-1
{
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: white;
}

.col-2
{
	background-color: white;
	line-height: 30px;
}

.col-4
{
	padding-top: 10px;
}

.col-3
{
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: white;
}

.col
{
	background-color: white;
}

.intitulé
{
	background-color: white;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.dates
	{
		color: #FECA07;
		font-size: 0.8em;
		text-shadow: -1px -1px 0 #5a442d,  
    				 1px -1px 0 #5a442d,
    				 -1px 1px 0 #5a442d,
    				 1px 1px 0 #5a442d;

	}

.loisirs
{
	color: #404040;
	padding-top: 25px;
	margin-right: 10%;
}

.fa-book
{
	margin-left: 20%;
}

.far /*icone de puce actuelle Font Awesome*/
{
	font-size: 15px;
	padding-left: 15px;
}

.fa-circle /*icone de puce Font Awesome*/
{
	font-size: 10px;
	padding-left: 15px;
}

.white
{
	background-color: white;
}

.reco
{
	font-size: 1.3em;
}


i /*scripts font awesome*/
{
	font-size: 30px;
	color: #FECA07;
	line-height: 30px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-right: 50px;
}

strong
{
	color: #FECA07;
}

h1
{
	font-family: 'Segoeuil', serif;
	font-size: 61px; 
}

h2
{
	font-size: 1.5em;
	font-weight: bold;
}

h3
{
	margin-top: 15px;
	color: #323232;
	font-size: 22px;
}



hr
{
	border-color: #FECA07; 
	border-width: 2px;
	margin-top: 1px;
	margin-bottom: 1px;
}

p
{
	line-height: 20px;
	font-size: 0.8em;
	color: #323232;
	padding-bottom: 8px;
	padding-top: 8px;
	margin-bottom: 0px;
}

mark
{
	font-family: "Trebuchet MS", serif;
	background-color: white;
	font-size: 18px;
	padding-left: 0px;
	color: #323232;
}

/*smartphone*/
@media (min-width: 576px) 
{
  .container 
  {
    width: 540px;
  }
   h1
  {
  	text-align: center;
  }
  .profession
  {
  	text-align: center;
  }
  .cal
  {
	vertical-align: 7px;
}

/*tablette*/
@media (min-width: 768px) 
{
  .container 
  {
    width: 720px;
  }
  .dates
	{
		color: #323232;
		font-size: 0.8em;
		font-weight: bold;
		text-shadow: none;
	}
  h1
  {
  	padding-top: 60px;
  	padding-left: 8%;
  	text-align: left;
  }
  h2
  {
	  font-size: 1.3em;
  }
  .profession
  {
  	padding-left: 8%;
  	text-align: left;
  }
  .profession:after
	{
		width: 40px;
		height: 3px;
		background-color: #FECA07;
		content: "";
		position: absolute;
		bottom: 0;
		left: 8%;
	}
	.cal
	{
	font-size: 25px;
	vertical-align: 8px;
	}
		.aside2
	{
		padding-bottom: 20px;
	}
	.marge
	{
		padding-bottom: 160px;
	}
	.marge2
	{
		padding-bottom: 60px;
	}
}

/*grand écran*/
@media (min-width: 992px) 
{
  .container 
  	{
    	width: 960px;
  	}
  	.dates
	{
		color: #323232;
		font-size: 0.8em;
		font-weight: bold;
		text-shadow: none;
	}
   h1
  	{
  		padding-left: 8%;
  		padding-top: 80px;
  		text-align: left;
  	}
  	.profession
  {
  	padding-left: 8%;
  	text-align: left;
  }
  .profession:after
	{
		width: 40px;
		height: 3px;
		background-color: #FECA07;
		content: "";
		position: absolute;
		bottom: 0;
		left: 8%;
	}
	.cal
	{
		vertical-align: 8px;
	}
	.intitulé
	{
		line-height: 60px;
	}
	.marge
	{
		padding-bottom: 230px;
	}
}

/* Très grand écran */
@media (min-width: 1200px) 
{
  .container 
  	{
    	max-width: 1140px;
  	}
  	.dates
	{
		color: #323232;
		font-size: 0.8em;
		font-weight: bold;
		text-shadow: none;
	}
   h1
  	{
  		padding-left: 8%;
  		padding-top: 100px;
  		text-align: left;
  	}
  	.profession
  {
  	padding-left: 8%;
  	text-align: left;
  }
  .profession:after
	{
		width: 40px;
		height: 3px;
		background-color: #FECA07;
		content: "";
		position: absolute;
		bottom: 0;
		left: 8%;
	}
	.cal
	{
		vertical-align: 8px;
	}
	.intitulé
	{
		line-height: 60px;
	}
	.marge
	{
		padding-bottom: 230px;
	}
	}
